<div class="container-fluid">

    <div class="row  justify-content-center align-items-center" style="height: 100vh;">
        <div class="col d-flex  flex-column align-items-center ">
            <div>
                <img src="https://thumbs.dreamstime.com/b/error-icon-notebook-design-template-website-white-background-graphic-98813130.jpg" alt="">
            </div>
            <div>
                <button class="btn btn-primary" routerLink="/frontpage"> Home</button>
            </div>
        </div>
    </div>

</div>
