<body style="background-image: url(https://img.freepik.com/free-photo/homemade-hamburger-close-up-with-beef-tomato-lettuce-cheese-onion-wooden-table_96727-1158.jpg?size=626&ext=jpg);
             background-repeat: no-repeat;
             background-size: cover ;height: 100vh;">

    <div class="container-fluid">

        <div class="row" style="height: 60px;
        background-color:  rgba(85, 82, 97, 0.548);
        box-shadow: 1px 1px 15px 1px rgba(139, 221, 101, 0.918);
        ">
            <div id="glow" class="col-7 " style="font-family: 'Rock Salt', cursive;
                    font-size: 2.3em;
                    color:#ff4100;
                    font-weight:bold">
                Zesty Vortex
            </div>

            <div class="col-5 d-flex justify-content-end align-items-center">

                <div>
                    <button class="btn btn-light mr-4" routerLink="/frontpage"
                    > Home</button>
                </div>

                <div>
                    <button class="btn btn-info mr-4" routerLink="/login"
                    >Sign In</button>
                </div>

                <div>
                    <button class="btn btn-warning mr-4" routerLink="/signup"
                    >Sign Up</button>
                </div>
            </div>

        </div>

        <div class="row" style="height: 90vh;">

            <div class="col-8  d-flex justify-content-center align-items-center">
                <div class="col-5  d-flex flex-column  align-items-center" style="height: 70vh;
                            background-color: rgba(157, 156, 161, 0.24);
                            box-shadow: 2px 2px 10px 10px rgba(247, 49, 230, 0.589);">

                    <div class="mt-4">
                        <fa-icon [icon]="faCloudMeatball" style="font-size: 68px; color: rgb(27, 190, 255);"></fa-icon>
                    </div>
                    <div class="text-light mt-3" style="font-family:'Kaushan Script', cursive; font-size: 5vh;">
                        Update!
                    </div>

                    <div class="col-10" [formGroup]="fbFormGroup">
                        <div class="input-group flex-nowrap mt-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">@</span>
                            </div>
                            <input type="text"  class="form-control" formControlName="email" placeholder="email"
                                aria-label="email" aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap mt-4">
                            <div class="input-group-prepend ">
                                <span class="input-group-text pr-3" id="addon-wrapping">#</span>
                            </div>
                            <input type="password" class="form-control" formControlName="password" placeholder="Password" aria-label="Username"
                                aria-describedby="addon-wrapping">
                        </div>

                        

                        <div class="col d-flex flex-column justify-content-center align-items-center">
                            <div>
                                <button type="button" class="btn btn-success mt-4" [disabled]="!fbFormGroup.valid" (click)=changepass()>Update</button>
                            </div>

                        </div>

                        <!-- <div>
                            {{fbFormGroup.value | json }}
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-4 ">

            </div>
        </div>
       

    </div>


</body>
